body {
	background-color:#000;
	margin: 0;
	padding: 0;
}

#enchant-stage {
	z-index:2;
}

#orientate {
	width:100%;
	height:100%;
	z-index:1;
	visibility:hidden;
}

#orientate img {
	width:100%;
	height:100%;
}
